doctype html
html
    head
        title= "Login"
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" cross-origin="anonymous")
    body.container
        include includes/header.pug
        div.container.row
            h1 Hi #{username}, Welcome to your Dashboard!